//変数で使用 カラーコード等
//* =======================================================
//* Color
//* =======================================================
$colorMain: #b7cdeb;
$colorMain: #d6dfed;
$colorTxt: #3f3a39;
$colorBg: #f5f5f5;
$colorBorder: #373737;
//* =======================================================
//* Font
//* =======================================================
$fontPlay: 'Playfair Display', serif;